<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alfredo Spring framework truly guru | Authors List</title>
</head>
<body>

<h1>
    Authors List, Alfred version!
</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="author : ${authorList}">
        <td th:text="${author.id}"> 01</td>
        <td th:text="${author.firsName}"> The Name</td>
        <td th:text="${author.lastName}"> The Last Name</td>
    </tr>

</table>
</body>
</html>